.checkbox label {
    position: absolute;
    left: 19px;
    z-index: -1;
}
.checkbox label span {
    display:inline-block;
    width:19px;
    height:19px;
    position: absolute;
    background: rgba(0,0,0,.3);
}
